.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.main {
    background-image: url('../../public/background.jpg');
    height: 100%;
    min-height: 100vh;
}

.text {
    color: wheat;
    font-weight: bold;
}

.button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
}